/* mais sobre view port */

/* https://www.alura.com.br/artigos/guia-de-unidades-no-css */

/* https://developer.mozilla.org/en-US/docs/Web/CSS/box-sizing */
 
/* guia flex-box */

/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
 
@import url("https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
 
* {

  margin: 0;

  padding: 0;

}
 
.titulo-destaque {

  color: #22d4fd;

}
 
body {

  height: 100vh;

  background-color: #000;

  color: #ffff;

  box-sizing: border-box;

}
 
.titulo-destaque {

  color: #22d4fd;

}
 
.container {

  display: flex;

  align-items: center;

  justify-content: space-between;

  gap: 3rem;

  margin: 10%;

}
 
.container__conteudo {

  width: 6300px;
 
}
 
.container__conteudo__titulo {

  font-size: 36px;

  font-family: 'Krona One', sans-serif;

  letter-spacing: 10px;

}
 
.container__conteudo__texto {

  font-size: 24px;

  font-family: 'Montserrat', sans-serif;

  margin-top: 40px;

}
 
.container__links {

  display: flex;

  justify-content: space-around;

}
 
.container__links a{

    background-color: #22d4fd;

    width: 250px;

    padding: 16px;

    text-align: center;

    font-size: 24px;

    color: #000;

    font-weight: 700;

    text-decoration: none;

    font-family: 'Montserrat', sans-serif;

    border-radius: 16px;

    margin-top: 50px;

}
 